USE [master]
GO
/****** Object:  Database [DiDong]    Script Date: 6/18/2018 6:46:28 AM ******/
CREATE DATABASE [DiDong] ON  PRIMARY 
( NAME = N'DiDong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DiDong.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiDong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DiDong_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiDong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiDong]
GO
/****** Object:  Table [dbo].[cau_hinh]    Script Date: 6/18/2018 6:46:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cau_hinh](
	[id] [uniqueidentifier] NOT NULL,
	[CharacterSet] [nvarchar](50) NULL,
	[DelImportTruocImport] [bit] NULL,
	[MaxTop] [int] NULL,
	[IsExportTxt] [bit] NULL,
 CONSTRAINT [PK_cau_hinh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dm_column]    Script Date: 6/18/2018 6:46:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dm_column](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [nvarchar](10) NULL,
	[name] [nvarchar](50) NULL,
	[size] [int] NULL,
	[isKey] [bit] NULL,
	[isAct] [bit] NULL,
	[IsReport] [bit] NULL,
	[orderid] [int] NULL,
 CONSTRAINT [PK_dm_column] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dm_Character]    Script Date: 6/18/2018 6:46:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dm_Character](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [nvarchar](50) NULL,
 CONSTRAINT [PK_dm_Character] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import]    Script Date: 6/18/2018 6:46:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import](
	[id] [uniqueidentifier] NOT NULL,
	[column1] [nvarchar](50) NULL,
	[column2] [nvarchar](50) NULL,
	[column3] [nvarchar](50) NULL,
	[column4] [nvarchar](50) NULL,
	[column5] [nvarchar](50) NULL,
	[column6] [nvarchar](50) NULL,
	[column7] [nvarchar](50) NULL,
	[column8] [nvarchar](50) NULL,
	[column9] [nvarchar](50) NULL,
	[column10] [nvarchar](50) NULL,
	[column11] [nvarchar](50) NULL,
	[column12] [nvarchar](50) NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_import] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[root]    Script Date: 6/18/2018 6:46:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[root](
	[id] [uniqueidentifier] NOT NULL,
	[column1] [nvarchar](50) NULL,
	[column2] [nvarchar](50) NULL,
	[column3] [nvarchar](50) NULL,
	[column4] [nvarchar](50) NULL,
	[column5] [nvarchar](50) NULL,
	[column6] [nvarchar](50) NULL,
	[column7] [nvarchar](50) NULL,
	[column8] [nvarchar](50) NULL,
	[column9] [nvarchar](50) NULL,
	[column10] [nvarchar](50) NULL,
	[column11] [nvarchar](50) NULL,
	[column12] [nvarchar](50) NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_root] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cau_hinh] ([id], [CharacterSet], [DelImportTruocImport], [MaxTop], [IsExportTxt]) VALUES (N'b64159c6-cc18-44d7-a4b7-237089a09aaa', N'b64159c6-cc18-44d7-a4b7-237089a09aaa', 1, 10000, 1)
INSERT [dbo].[dm_column] ([id], [ma], [name], [size], [isKey], [isAct], [IsReport], [orderid]) VALUES (N'1b200dde-3141-4611-82d9-0dd968049147', N'column10', N'column10', 50, 0, 1, 0, 1)
INSERT [dbo].[dm_column] ([id], [ma], [name], [size], [isKey], [isAct], [IsReport], [orderid]) VALUES (N'cc88051d-8aff-417e-8c4a-0f512a27c628', N'column7', N'column7', 50, 0, 1, 0, 0)
INSERT [dbo].[dm_column] ([id], [ma], [name], [size], [isKey], [isAct], [IsReport], [orderid]) VALUES (N'4cbe6e16-711b-45ba-bcfb-117304e149ce', N'column5', N'Huyện', 50, 0, 1, 0, 5)
INSERT [dbo].[dm_Character] ([id], [ma]) VALUES (N'b4405889-db08-44f9-83a3-3d4773e7403f', N'Unicode')
INSERT [dbo].[import] ([id], [column1], [column2], [column3], [column4], [column5], [column6], [column7], [column8], [column9], [column10], [column11], [column12], [create_date]) VALUES (N'3ab472a7-a3af-4b83-bc2a-7ba7dfc4fceb', NULL, NULL, NULL, NULL, NULL, NULL, N'㄰㌶㤶㔵㌸‱三畧薻⁮쑖溃䰠ꋃ७उ桔믡榛䠠닃⁡牔ꃃ쌠溔嘠꧄桮䰠湯१㤱㐉ㄉ㜹रउ慎७उ䱖ॏ么ॉउउउ〉', NULL, NULL, NULL, NULL, NULL, NULL)
ALTER TABLE [dbo].[cau_hinh] ADD  CONSTRAINT [DF_cau_hinh_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[dm_column] ADD  CONSTRAINT [DF_dm_column_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[dm_Character] ADD  CONSTRAINT [DF_dm_Character_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[import] ADD  CONSTRAINT [DF_import_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[root] ADD  CONSTRAINT [DF_root_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[root] ADD  CONSTRAINT [DF_root_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
USE [master]
GO
